body {
  color: white;
  margin: 10px 50px 10px 50px;
  background-color: black;
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  font-family: 'Oswald', sans-serif;
  color: white;
}

img {
  float: left;
  margin-right: 10px;
}

.left {
  float: left;
  width: 300px;
  padding: 1em;
}

.center {
  margin: auto;
  width: 300px;
  padding: 1em;
}

.right {
  float: right;
  width: 300px;
  padding: 1em;
}

